<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>相关论文</title>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
          integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <script crossorigin="anonymous"
            integrity="sha512-n/4gHW3atM3QqRcbCn6ewmpxcLAHGaDjpEBu4xZd47N0W2oQ+6q7oc3PXstrJYXcbNU1OHdQ1T7pAP+gi5Yu8g=="
            src="http://lib.baomitu.com/jquery/3.6.0/jquery.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
            integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/paper.css">

    <!-- 引入 layui.css -->
    <link rel="stylesheet" href="//unpkg.com/layui@2.6.8/dist/css/layui.css">

    <!-- 引入 layui.js -->
    <script src="//unpkg.com/layui@2.6.8/dist/layui.js"></script>
</head>

<body>
<div class="top">
    {#        <ul class="nav nav-pills">#}
    {#            <li role="presentation"><a href="./index.html">首页</a></li>#}
    {#            <li role="presentation"><a href="./predict.html">时间序列数据预测</a></li>#}
    {#            <li role="presentation" class="active"><a href="./paper.html">相关论文</a></li>#}
    {#        </ul>#}
    <ul class="layui-nav">
        <li class="layui-nav-item">
            <a href="javascript:window.location.assign('/')">首页</a>
        </li>
        <li class="layui-nav-item">
            <a href="javascript:window.location.assign('/predict');">时间序列数据预测</a>
        </li>
        <li class="layui-nav-item layui-this">
            <a href="javascript:window.location.assign('/paper');">相关论文</a>
        </li>
    </ul>
</div>


{#<div class="title">#}
{#    <img src="../static/imgs/scu_xiaohui.png" id="img2">#}
{#    <div class="text1">基于EKATP的时序数据预测服务</div>#}
{#    <img src="../static/imgs/wallhaven-r7eoo7.png" id="img1">#}
{#</div>#}

{#<div class="jumbotron">#}
{#    <h1>#}
{#        Developing an Embedding, Koopman and Autoencoder Technologies-Based Multi-Omics Time Series#}
{#        Predictive Model (EKATP) for Systems Biology research#}
{#        <small>Authors: Suran Liu<sup>1†</sup>, Yujie You<sup>1†</sup>, Zhaoqi Tong<sup>2</sup> and Le Zhang<sup>1*</sup></small>#}
{#    </h1>#}
{##}
{#</div>#}

<div id='article'>
    <h1 id='title'>Developing an Embedding, Koopman and Autoencoder Technologies-Based Multi-Omics Time Series
        Predictive Model (EKATP) for Systems Biology research</h1>
    <h3 id="auth">Authors: Suran Liu<sup>1†</sup>, Yujie You<sup>1†</sup>, Zhaoqi Tong<sup>2</sup> and Le
        Zhang<sup>1*</sup></h3>

    <br>
    <img src="../static/imgs/image-20211027163454040.png" class="center">

    <div>
        <div id="download">
            <div class="btn-group">
                <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false">
                    下载论文 <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="https://www.frontiersin.org/articles/10.3389/fgene.2021.761629/pdf">PDF</a></li>
                    <li><a href="http://www.readcube.com/articles/10.3389/fgene.2021.761629">ReadCube</a></li>
                    <li><a href="https://www.frontiersin.org/articles/10.3389/fgene.2021.761629/epub">SEPUB</a></li>
                    <li><a href="https://www.frontiersin.org/articles/10.3389/fgene.2021.761629/xml/nlm">XML（NLM）</a>
                    </li>
                </ul>
            </div>
        </div>
        &nbsp;&nbsp;
        <div id="citation">
            <div class="btn-group">
                <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                    引用论文 <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="https://www.frontiersin.org/articles/10.3389/fgene.2021.761629/endNote">EndNote</a>
                    </li>
                    <li><a href="https://www.frontiersin.org/articles/10.3389/fgene.2021.761629/reference">Reference
                        Manager</a>
                    </li>
                    <li><a href="https://www.frontiersin.org/articles/10.3389/fgene.2021.761629/text">Simple Text
                        file</a>
                    </li>
                    <li><a href="https://www.frontiersin.org/articles/10.3389/fgene.2021.761629/bibTex">BibTex</a></li>
                </ul>
            </div>
        </div>
    </div>

    <br>
    <br>

    <div>
        <h2>论文网址</h2>
        <br>
        <a href="https://www.frontiersin.org/articles/10.3389/fgene.2021.761629/full" class="tzq-font">
            https://www.frontiersin.org/articles/10.3389/fgene.2021.761629/full
        </a><br>
        <br>
        <br>
    </div>

    <h2>项目简介</h2>
    <br>
    <p class="tzq-font">
        本项目创新性地提出了一种基于延时嵌入理论、动力学Koopman理论和自动编码器（AutoEncoder）技术的动力学时间序列预测模型（EKATP）来预测高维非线性动力学时间序列的未来状态。
        <br>
        <br>
        AutoEncoder是一种支持有效降维数据的神经网络，该神经网络的Encoder模块能够将高维空间数据映射到低维空间，并在Decoder模块将低维度空间数据逆映射回高维空间数据，从而实现数据的空间映射；延时嵌入理论是一种有效的空间转换手段，其将非线性系统重构到嵌入空间中，从而实现空间转换；Koopman算子是一种无穷维度的线性算子，能将有限维度的非线性动力学系统转化为无穷维线性动力学系统。
        <br>
        <br>
        基于以上三种技术，本项目在AutoEncoder的Encoder模块应用了延时嵌入技术，将高维的非线性时间序列数据映射到低维的线性空间中；并在低维度线性空间中通过Koopman算子实现线性动力学进程，从而得到下一离散时间点的低维线性嵌入状态；最终通过AutoEncoder的Decoder解码器将数据逆映射回到下一离散时间点的高维度真实空间状态，从而实现对高维非线性数据的预测。
        <br>
        <br>
        在充分训练模型之后，本项目最终得到一个对高维非线性时序数据具有高精度预测性能的神经网络模型，在“Frontiers in Genetics”上发布论文《Developing an Embedding,
        Koopman, and Autoencoder technologies-based multi-omics time series predictive model (EKATP) for systems
        biology research》；我们还将其应用于EKATP网页应用，面向社会提供官方接口，支持可视化数据预测操作。
    </p>
    <br>
    <br>

    <h2>项目背景</h2>
    <br>
    <p class="tzq-font">
        目前，全中国乃至全世界的时空数据预测研究人员都面临着高维非线性时间序列数据预测精度不足的问题，从而导致了金融风险预测不准确、交通流控系统协调困难、自然气象灾害防控困难等各方面的问题。因此，近年来各领域研究人员一直致力于提高时序数据的预测精度，便于减轻金融风险对经济发展的影响、提高城市交通的流通度、减少气象灾害带来的恶劣影响等。
        <br>
        然而，当前已有的神经网络无法满足各领域对高维非线性的时序数据的高精度预测需求，例如：系统生物学家在经历新型冠状病毒疫情之后发觉，高精度的多组学时序数据预测能显著提高疾病发生预测与健康检测的准确性，然而当前的网络模型并不能支持高精度的多组学时序数据预测。
        <br>
        因此，我们希望研究得到一个能对高维非线性动力学时序数据具有较高预测精度的神经网络模型，从而提高对时间序列数据的预测准确性，进而解决各个前沿领域内的科研难题。</h4>
    </p>
    <br>
    <br>

    <h2>核心技术</h2>
    <br>
    <h3>Koopman理论</h3>
    <br>
    <p class="tzq-font">
        Koopman理论是Koopman在1931年提出的理论，Omri et
        al.在论文中对Koopman理论做出解释：Koopman理论是基于可以用一个描述标量函数如何在时间域传播的算子可以对非线性动力系统作完全编码的观点。尽管Koopman算子是线性的，有利于简化非线性系统的动力学机制。
    </p>
    <br>
    <h3>延时嵌入理论</h3>
    <br>
    <p class="tzq-font">
        对于无限长、无噪声的d'维混沌吸引子的一维标量时间序列，可以在拓扑不变的意义下找到一个d维的嵌入相空间，当维数满足d≥2d'+1时,可以从一维混沌时间序列中重构一个与原动力系统在拓扑意义下相同的相空间，混沌时间序列的判定、分析和预测都是该重构的相空间中进行。
    </p>
    <br>
    <h3>AutoEncoder</h3>
    <br>
    <p class="tzq-font">
        Autoencoder是一种多层的神经网络模型，其学习一个输入输出相同的“恒等函数”。Autoencoder由Encoder与Decoder两模块组成。以输入信息为学习目标，通过Encoder对输入信息进行表征学习，获取输入信息的关键信息，从而降维到低维中间层，再经过Decoder解码得到与原数据维度相同的数据，最终通过最小化高维空间的损失函数来训练Autoencoder中Encoder与Decoder的参数。
    </p>
    <br>

    {#    <h4><br>Koopman理论<br>#}
    {#        Koopman理论是Koopman在1931年提出的理论，Omri et#}
    {#        al.在论文中对Koopman理论做出解释：Koopman理论是基于可以用一个描述标量函数如何在时间域传播的算子可以对非线性动力系统作完全编码的观点。尽管Koopman算子是线性的，有利于简化非线性系统的动力学机制。#}
    {##}
    {#        <br><br>延时嵌入理论<br>#}
    {#        对于无限长、无噪声的d'维混沌吸引子的一维标量时间序列，可以在拓扑不变的意义下找到一个d维的嵌入相空间，当维数满足d≥2d'+1时,可以从一维混沌时间序列中重构一个与原动力系统在拓扑意义下相同的相空间，混沌时间序列的判定、分析和预测都是该重构的相空间中进行。#}
    {##}
    {#        <br><br>AutoEncoder<br>#}
    {#        Autoencoder是一种多层的神经网络模型，其学习一个输入输出相同的“恒等函数”。Autoencoder由Encoder与Decoder两模块组成。以输入信息为学习目标，通过Encoder对输入信息进行表征学习，获取输入信息的关键信息，从而降维到低维中间层，再经过Decoder解码得到与原数据维度相同的数据，最终通过最小化高维空间的损失函数来训练Autoencoder中Encoder与Decoder的参数。#}
    {#    </h4>#}
    <img src="../static/imgs/model.png" class="center">
</div>

{#<div id="to1">#}
{#    <div class="btn-group">#}
{#        <button type="button" class="btn btn-danger">下载\引用链接</button>#}
{#        <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"#}
{#                aria-expanded="false">#}
{#            <span class="caret"></span>#}
{#            <span class="sr-only">Toggle Dropdown</span>#}
{#        </button>#}
{#        <ul class="dropdown-menu">#}
{#            <li role="separator" class="divider"></li>#}
{#            <li>下载链接</li>#}
{#            <li><a href="https://www.frontiersin.org/articles/10.3389/fgene.2021.761629/pdf">PDF</a></li>#}
{#            <li><a href="http://www.readcube.com/articles/10.3389/fgene.2021.761629">ReadCube</a></li>#}
{#            <li><a href="https://www.frontiersin.org/articles/10.3389/fgene.2021.761629/epub">SEPUB</a></li>#}
{#            <li><a href="https://www.frontiersin.org/articles/10.3389/fgene.2021.761629/xml/nlm">XML（NLM）</a></li>#}
{#            <li role="separator" class="divider"></li>#}
{#            <li>引用链接</li>#}
{#            <li><a href="https://www.frontiersin.org/articles/10.3389/fgene.2021.761629/endNote">EndNote</a></li>#}
{#            <li><a href="https://www.frontiersin.org/articles/10.3389/fgene.2021.761629/reference">Reference Manager</a></li>#}
{#            <li><a href="https://www.frontiersin.org/articles/10.3389/fgene.2021.761629/text">Simple Text file</a></li>#}
{#            <li><a href="https://www.frontiersin.org/articles/10.3389/fgene.2021.761629/bibTex">BibTex</a></li>#}
{#        </ul>#}
{#    </div>#}
{#</div>#}
</body>

</html>