<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>时间序列数据预测</title>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
          integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
            integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
            crossorigin="anonymous"></script>
    <script crossorigin="anonymous"
            integrity="sha512-n/4gHW3atM3QqRcbCn6ewmpxcLAHGaDjpEBu4xZd47N0W2oQ+6q7oc3PXstrJYXcbNU1OHdQ1T7pAP+gi5Yu8g=="
            src="http://lib.baomitu.com/jquery/3.6.0/jquery.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/predict.css">

    <!-- 引入 layui.css -->
    <link rel="stylesheet" href="//unpkg.com/layui@2.6.8/dist/css/layui.css">

    <!-- 引入 layui.js -->
    <script src="//unpkg.com/layui@2.6.8/dist/layui.js"></script>
</head>

<body>
<div class="top">
    {#        <ul class="nav nav-pills">#}
    {#            <li role="presentation"><a href="./index.html">首页</a></li>#}
    {#            <li role="presentation" class="active"><a href="./predict.html">时间序列数据预测</a></li>#}
    {#            <li role="presentation"><a href="./paper.html">相关论文</a></li>#}
    {#        </ul>#}
    <ul class="layui-nav">
        <li class="layui-nav-item">
            <a href="javascript:window.location.assign('/')">首页</a>
        </li>
        <li class="layui-nav-item layui-this">
            <a href="javascript:window.location.assign('/predict');">时间序列数据预测</a>
        </li>
        <li class="layui-nav-item">
            <a href="javascript:window.location.assign('/paper');">相关论文</a>
        </li>
    </ul>
</div>

{#<div class="title">#}
{#    <img src="../static/imgs/scu_xiaohui.png" id="img2">#}
{#    <div class="text1">基于EKATP的时序数据预测服务</div>#}
{#    <img src="../static/imgs/wallhaven-r7eoo7.png" id="img1">#}
{#</div>#}

<div class="jumbotron">
    <h1 class="tzq-margin-left">基于EKATP的时序数据预测服务</h1>
</div>

<div class="container">
    {#    <div id="topc">#}
    {#        EKATP为时间序列数据预测任务提供了优秀的解决方案，尤其是在对高维非线性时序数据的预测任务上，EKATP突破了以往模型提供的性能瓶颈，达到了较高的预测精度。#}
    {#        <br>#}
    {#        EKATP为用户提供了对时间序列数据的预测服务，用户可以将存储时序数据的csv文件上传至网站，并指定要预测的步数，EKATP将根据用户上传的数据，预测后续步数的时序数据，并以csv文件格式返回给用户，用户可下载返回的csv格式文件。#}
    {#    </div>#}

    <p class="tzq-p">
        EKATP为时间序列数据预测任务提供了优秀的解决方案，尤其是在对<b><u>高维非线性</u>时序数据的预测任务</b>上，EKATP突破了以往模型提供的性能瓶颈，达到了较高的预测精度。
    </p>

    <br>

    <p class="tzq-p">
        EKATP为用户提供了对时间序列数据的预测服务，用户可以将存储时序数据的csv文件上传至网站，并指定要预测的步数，EKATP将根据用户上传的数据，预测后续步数的时序数据，并以csv文件格式返回给用户，用户可下载返回的csv格式文件。
    </p>

    <form action="http://localhost:5000/predict" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <br>
            <div>
                <label>
                    要预测的步数 <input type="text" class="form-control" name='step' placeholder="默认为6">
                </label>
            </div>
            <br>
            <div class="form-group">
                <label for="exampleInputFile">源数据文件（要求：csv格式）</label>
                <input type="file" id="exampleInputFile" name="file">
                <p class="help-block">
                    csv文件格式要求：第一行为时间步的标号（索引），其数量代表用户提供的数据的总步长；同一列的所有非第一行的数据代表一个时间步的数据。例如，以下展示的gene.csv文件是包含了22个时间步长的84维时间序列数据（该文件共85行，图中仅显示84行）：
                </p>
                <img src="../static/imgs/gene_csv.png" alt="无法显示图片" class="tzq-gene-img"/>
            </div>
        </div>
        <div>
            <button type="submit" class="btn btn-success">预测</button>
        </div>
    </form>

    <br><br>
    <p class="tzq-p">网站提供样例数据集 gene.csv（包含22个时间步长的84维时间序列数据），供用户测试使用：<a href="http://localhost:5000/data-gene-csv"><u>gene.csv</u></a>
    </p>
    <br>
    <p class="tzq-p">查看84维gene.csv数据的6个时间步长的预测结果与真实结果的对比图：<a href="javascript:window.open('/example')" class="tzq-a"><u>预测/真实结果对比图</u></a>
    </p>

    {#    <div id="data">#}
    {#        <button type="button" class="btn btn-primary">#}
    {#            <a href="http://localhost:5000/data-gene-csv"> 下载数据集</a>#}
    {#        </button>#}
    {#    </div>#}
    {#    <div id="example">#}
    {#        <button type="button" class="btn btn-primary">#}
    {#            <a href='javascript:window.location.assign("/example")' target="_blank">Example</a>#}
    {#        </button>#}
    {#    </div>#}
</div>
</body>

</html>